In [1]:
import numpy as np
import pandas as pd
from scipy import stats

import matplotlib as mpl
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()

%matplotlib inline

In [2]:
data1 = pd.read_csv('Lesson5-1.csv')

In [3]:
mu = np.mean(data1)
mu

Length    51.820183
dtype: float64

In [4]:
df = len(data1) - 1
df

29

In [5]:
sigma = np.std(data1, ddof=1)
se = sigma/np.sqrt(len(data1))
se

Length    0.562163
dtype: float64

In [6]:
t_value = (mu-50)/se
t_value

Length    3.237819
dtype: float64

In [7]:
#確率分布の上側（右側）の裾を使用してp値を計算
alpha = stats.t.cdf(np.abs(t_value), df=df) 
(1-alpha)*2

array([0.00301227])

In [8]:
alpha = stats.t.cdf(np.abs(t_value), df=df) # 上側の裾を使用して確率を計算
1-alpha

array([0.00150613])

In [9]:
# 2変量データのｔ検定　（対応のあるｔ検定）

data2 = pd.read_csv('Lesson5-2.csv')

In [10]:
data2.head()

   2-years-old  3-years-old
0    16.624345    14.600841
1    14.388244    14.984220
2    14.471828    14.606675
3    13.927031    14.401233
4    15.865408    14.627380

In [11]:
data2['Difference'] = data2['3-years-old'] - data2['2-years-old']
data2.head()

   2-years-old  3-years-old  Difference
0    16.624345    14.600841   -2.023504
1    14.388244    14.984220    0.595977
2    14.471828    14.606675    0.134847
3    13.927031    14.401233    0.474201
4    15.865408    14.627380   -1.238028

In [12]:
stats.ttest_1samp(data2['Difference'], 0)

Ttest_1sampResult(statistic=2.212896760339997, pvalue=0.03493196300425262)